In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\shubham aggarwal\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\shubham aggarwal\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [176]:
import pandas as pd
from selenium import webdriver
import selenium

In [4]:
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
url = " https://www.naukri.com/"

In [6]:
driver.get(url)

In [7]:
job_search = driver.find_element_by_class_name("sugInp")

In [11]:
job_search

In [14]:
job_search.send_keys("data analyst")

In [12]:
location = driver.find_element_by_id("qsb-location-sugg")

In [13]:
location

In [15]:
location.send_keys("banglore")

In [16]:
btn = driver.find_element_by_class_name("btn")

In [17]:
btn.click()

In [20]:
job = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [21]:
job_ = []
for i in job:
    job_.append(i.text)
job_

['Business Data Analyst',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst with SQL',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst - Python/SQL',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Data Analyst with SAS & Python',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [23]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [24]:
company_ = []
for i in company:
    company_.append(i.text)
    
company_

['Trigent Software',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Trigent Software',
 'AVE-Promagne',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'AECOM India Private Limited',
 'Wipro Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'INTERTRUST GROUP',
 'Affine',
 'TalentStack',
 'Near Pte. Ltd.',
 'Podium Systems',
 'Coda Payments',
 'FedEx Express',
 'Supertails']

In [27]:
skill = driver.find_elements_by_xpath("//ul[@class='tags has-description']")

In [28]:
skill_ = []
for i in skill:
    skill_.append(i.text)
    
skill_

['DAX Formulas\ncloud services\npython\nMS Excel\nBusiness Data Analyst\nPower Point\nopen-source technologies\nTableau',
 'Procurement\nBusiness analysis\nAccess management\nActive directory\nAgile\nHealthcare\nInformation technology\nTechnical support',
 'IT Skills\nPower BI\nBusiness Intelligence\nMicrosoft Power Bi\nBi\nData Modeling\nData Analytics\nETL Tool',
 'DAX Formulas\ncloud services\npython\nMS Excel\nBusiness Data Analyst\nPower Point\nopen-source technologies\nTableau',
 'Google Data Studio\nData Support\nData Analysis\nData Analyst\nTableau\nAnalytics\nSQL',
 'Excel\nExport House\nData Management\nData Analysis\nDashboards\nMerchandising\nManufacturing Process',
 'Data Gap analysis\ndata analysis\nSalesforce\nSFDC\nsalesforce sales\nIT Skills\nCloud\nSalesforce Cpq',
 'Data Analysis\nData Analyst\nInformation Technology',
 'Data Modelling\nSQL\nData Analysis\nJIRA\nSQL queries\nStored Procedures\nConfluence\nData Modeling',
 'Supply chain management\nSAP ERP\nBusiness transformation\nDb2\nMicrosoft applications\nAgile\nIssue resolution\ndata integrity',
 'Excel\nSQL\nPower Bi\nProblem Solving\nAdvanced Excel\nTableau\nQlikView\nAnalytics',
 'BPO\ndata analysis\nData Quality\nVisual Basic\nMS Access\nMaster Data Management\nMacros',
 'Tableau\nETL\nBI Tools\nProject Requirement\nAlteryx\nData Exploration\nData Collection\nReporting',
 'IT Skills\nPython\nMachine Learning\nAWS\nPower BI\nData Analyst\nData Analytics\nETL',
 'Data Analyst\nData Analytics\nAnalytics\nSQL\nPython',
 'Data Science\nContent Marketing\nProblem Solving\nBig Data\nData Engineer\nData Visualization\nData Analyst\nData Analytics',
 'IT Skills\nPython\nBig Data\nHive\nCMD\nData Analyst with SAS & Python',
 'R\nProject Management\nRisk Analytics\nComputer Science\nData Analyst\nTableau\nStatistical Modelling\nStatistics',
 'Data Analysis\nAnalytics\nData Science\nRevenue Management',
 'Analysis\nAdvanced Excel\nFormulas\nCharts\nTables\nData Visualization\nPivot']

In [33]:
data = pd.DataFrame({})
data['job_']=job_[0:11]
data['company_']=company_[0:11]
data['skill']=skill_[0:11]


# 3 question

In [45]:
url  = " https://www.naukri.com/"

In [46]:
driver.get(url)

In [47]:
job_search = driver.find_element_by_class_name("sugInp")

In [48]:
job_search.send_keys("data scientist")

In [49]:
location = driver.find_element_by_id("qsb-location-sugg")

In [50]:
location

In [51]:
location.send_keys("delhi")

In [52]:
btn = driver.find_element_by_class_name("btn")

In [53]:
btn.click()

In [54]:
btnn = driver.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']")

In [55]:
btnn.click()

In [57]:
job = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [58]:
job_ = []
for i in job:
    job_.append(i.text)
    
job_

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Junior Data Scientists & Engineers',
 'Data Scientist',
 'Ecosystem Data Scientist Manager_MNC',
 'Data Scientist Intern',
 'Data Scientist ( Solar Industry ) 2-5 Yrs @ Delhi- NCR',
 'Developers, Data Scientists, Web Designers, Android Developers',
 'Data Engineer / Quality Analyst / Healthcare Associate Analytics - MNC',
 'Data Analyst- O2C(Order To Cash)',
 'Data Research Analyst internships',
 'Data Analyst (Power BI)',
 'Junior Data Analyst',
 'Hiring For GCP Data Engineer in Tata Consultancy Services - Pan India',
 'Data Analyst- O2C (FMCG/CPG industry Preferred)- Night Shift',
 'Data Analyst / Business Analytics / MIS Executive - Fresher Jobs- MNC']

In [64]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [72]:
company_ = []
for i in company:
    company_.append(i.text)
company_

['GABA Consultancy services',
 'CARS24',
 'GABA Consultancy services',
 '2coms',
 'Jubna',
 'TalPro',
 'PY Consultancy',
 'Gauge Data Solutions Pvt Ltd',
 'Gladwin Analytics Private Limited (OPC)',
 'Salasar New Age Technologies',
 'Reckon HR consulting',
 'Cogmac Technologies',
 'GABA Consultancy services',
 'GENPACT India Private Limited',
 'iHackers Inc',
 'Akzo Nobel India Limited',
 'SiCureMi Healthcare Technologies',
 'Tata Consultancy Services Ltd.',
 'GENPACT India Private Limited',
 'GABA Consultancy services']

In [73]:
data = pd.DataFrame({})
data['job_']=job_[0:11]
data['company_']=company_[0:11]

In [74]:
data

,job_,company_
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services
1,Data Scientist / Data Analyst,CARS24
2,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services
3,Data Scientist,2coms
4,Data Scientist,Jubna
5,Data Scientist - Machine Learning/ NLP,TalPro
6,Junior Data Scientists & Engineers,PY Consultancy
7,Data Scientist,Gauge Data Solutions Pvt Ltd
8,Ecosystem Data Scientist Manager_MNC,Gladwin Analytics Private Limited (OPC)
9,Data Scientist Intern,Salasar New Age Technologies
10,Data Scientist ( Solar Industry ) 2-5 Yrs @ De...,Reckon HR consulting

# question 4

In [78]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'

In [79]:
driver.get(url)

In [77]:
# not able to login into browser

In [80]:
job_search = driver.find_element_by_xpath("//input[@class='keyword']")

In [81]:
job_search

In [82]:
job_search.send_keys("data scientist")

In [86]:
location = driver.find_element_by_id("LocationSearch")

In [87]:
location.send_keys("noida")

In [88]:
btn = driver.find_element_by_class_name("gd-btn-mkt")

In [89]:
btn.click()

In [90]:
# site not allowing to login as controled automatically with chrome

# question 6

In [93]:
url = "https://www.flipkart.com/"

In [94]:
driver.get(url)

In [95]:
search_product = driver.find_element_by_class_name("_3704LK")

In [96]:
search_product

In [98]:
search_product.send_keys("sunglass")

In [99]:
btn = driver.find_element_by_class_name("L0Z3Pu")

In [100]:
btn

In [101]:
btn.click()

In [103]:
brand = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [111]:
brand_ = []
for i in brand:
    brand_.append(i.text)
brand_

['Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Butterfly Sunglasses (65)',
 'Others Round Sunglasses (52)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Polarized ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Wayfarer Sunglasses (57)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (60)']

In [106]:
price = driver.find_elements_by_class_name("_30jeq3")

In [107]:
price_ = []
for i in price:
    price_.append(i.text)
price_

['₹699',
 '₹449',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹498',
 '₹474',
 '₹213',
 '₹509',
 '₹445',
 '₹758',
 '₹404',
 '₹689',
 '₹329',
 '₹331',
 '₹215',
 '₹379',
 '₹495',
 '₹499',
 '₹265',
 '₹237',
 '₹498',
 '₹186',
 '₹546',
 '₹229',
 '₹498',
 '₹449',
 '₹179',
 '₹284',
 '₹375',
 '₹246',
 '₹379',
 '₹284',
 '₹625',
 '₹209',
 '₹449',
 '₹355',
 '₹403',
 '₹403',
 '₹474',
 '₹758',
 '₹699',
 '₹445']

In [108]:
discount = driver.find_elements_by_class_name("_3Ay6Sb")

In [109]:
discount_ = []
for i in discount:
    discount_.append(i.text)
discount_

['65% off',
 '70% off',
 '86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '70% off',
 '68% off',
 '80% off',
 '36% off',
 '70% off',
 '15% off',
 '79% off',
 '23% off',
 '72% off',
 '80% off',
 '78% off',
 '81% off',
 '67% off',
 '77% off',
 '73% off',
 '85% off',
 '70% off',
 '78% off',
 '31% off',
 '80% off',
 '67% off',
 '82% off',
 '69% off',
 '89% off',
 '77% off',
 '83% off',
 '74% off',
 '71% off',
 '70% off',
 '79% off',
 '77% off',
 '85% off',
 '72% off',
 '72% off',
 '68% off',
 '15% off',
 '65% off',
 '70% off']

In [142]:



fp1 = pd.DataFrame({})
fp1['brand_']=brand_[0:39]
fp1['price_']=price_[0:39]
fp1['discount_']=discount_[0:39]

In [140]:
fp1

                                               brand_ price_ discount_
0      Polarized, UV Protection Round Sunglasses (53)   ₹699   65% off
1           UV Protection Oval Sunglasses (Free Size)   ₹449   70% off
2                 UV Protection Round Sunglasses (54)   ₹329   86% off
3   UV Protection, Polarized, Mirrored Rectangular...   ₹198   88% off
4               UV Protection Aviator Sunglasses (54)   ₹237   85% off
5   Mirrored, UV Protection Wayfarer Sunglasses (F...   ₹284   89% off
6               UV Protection Aviator Sunglasses (54)   ₹237   85% off
7           UV Protection Rectangular Sunglasses (58)   ₹498   70% off
8                 UV Protection Round Sunglasses (54)   ₹474   68% off
9   Gradient, UV Protection Wayfarer Sunglasses (F...   ₹213   80% off
10  UV Protection, Gradient Wayfarer, Clubmaster S...   ₹509   36% off
11      UV Protection Wayfarer Sunglasses (Free Size)   ₹445   70% off
12  UV Protection, Gradient Rectangular Sunglasses...   ₹758   15% off
13      UV Protection Wayfarer Sunglasses (Free Size)   ₹404   79% off
14             UV Protection Wayfarer Sunglasses (53)   ₹689   23% off
15         UV Protection Round Sunglasses (Free Size)   ₹329   72% off
16  UV Protection, Polarized, Mirrored Rectangular...   ₹331   80% off
17  UV Protection Retro Square Sunglasses (Free Size)   ₹215   78% off
18       UV Protection, Gradient Oval Sunglasses (58)   ₹379   81% off
19  UV Protection Retro Square Sunglasses (Free Size)   ₹495   67% off
20  UV Protection, Polarized, Mirrored Wayfarer Su...   ₹499   77% off
21              UV Protection Aviator Sunglasses (54)   ₹265   73% off
22  UV Protection, Gradient Round, Cat-eye Sunglas...   ₹237   85% off
23    UV Protection, Mirrored Aviator Sunglasses (58)   ₹498   70% off
24       UV Protection Aviator Sunglasses (Free Size)   ₹186   78% off
25  UV Protection Aviator, Wayfarer Sunglasses (Fr...   ₹546   31% off
26  UV Protection, Gradient Butterfly, Retro Squar...   ₹229   80% off
27            UV Protection Butterfly Sunglasses (65)   ₹498   67% off
28                       Others Round Sunglasses (52)   ₹449   82% off
29  Mirrored, UV Protection Wayfarer Sunglasses (F...   ₹179   69% off
30  UV Protection, Night Vision, Riding Glasses, P...   ₹284   89% off
31      UV Protection Wayfarer Sunglasses (Free Size)   ₹375   77% off
32                   Mirrored Aviator Sunglasses (55)   ₹246   83% off
33  UV Protection, Polarized, Mirrored Wayfarer Su...   ₹379   74% off
34   UV Protection, Gradient Wayfarer Sunglasses (57)   ₹284   71% off
35  UV Protection, Gradient, Mirrored, Riding Glas...   ₹625   70% off
36  UV Protection, Gradient Round Sunglasses (Free...   ₹209   79% off
37                     Mirrored Round Sunglasses (53)   ₹449   77% off
38              UV Protection Cat-eye Sunglasses (60)   ₹355   85% off

In [121]:
btn2 = driver.find_element_by_class_name("ge-49M")

In [122]:
btn2

In [123]:
btn2.click()

In [127]:
brand_ = driver.find_elements_by_class_name("IRpwTa")

In [149]:
product2_= []
for i in product2:
    product2_.append(i.text)
    
product2_

['UV Protection Aviator Sunglasses (57)',
 'Polarized Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer, Clubmaster Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Butterfly Sunglasses (65)',
 'Others Round Sunglasses (52)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (65)']

In [131]:
price2 = driver.find_elements_by_class_name("_30jeq3")

In [132]:
price2_ = []
for i in price2:
    price2_.append(i.text)

In [133]:
price2_

['₹284',
 '₹854',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹474',
 '₹213',
 '₹509',
 '₹664',
 '₹758',
 '₹404',
 '₹689',
 '₹525',
 '₹331',
 '₹215',
 '₹379',
 '₹449',
 '₹499',
 '₹265',
 '₹237',
 '₹799',
 '₹186',
 '₹546',
 '₹229',
 '₹569',
 '₹449',
 '₹179',
 '₹284',
 '₹664',
 '₹246',
 '₹379',
 '₹284',
 '₹248',
 '₹209',
 '₹449',
 '₹355',
 '₹664',
 '₹403',
 '₹474',
 '₹758',
 '₹699',
 '₹445']

In [134]:
disc2 = driver.find_elements_by_class_name("_3Ay6Sb")

In [135]:
disc2_= []
for i in disc2:
    disc2_.append(i.text)
    
disc2_

['85% off',
 '57% off',
 '86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '68% off',
 '68% off',
 '80% off',
 '36% off',
 '66% off',
 '15% off',
 '79% off',
 '23% off',
 '65% off',
 '80% off',
 '78% off',
 '81% off',
 '70% off',
 '77% off',
 '73% off',
 '85% off',
 '60% off',
 '78% off',
 '31% off',
 '80% off',
 '71% off',
 '82% off',
 '69% off',
 '89% off',
 '66% off',
 '83% off',
 '74% off',
 '71% off',
 '80% off',
 '79% off',
 '77% off',
 '85% off',
 '55% off',
 '72% off',
 '68% off',
 '15% off',
 '65% off',
 '70% off']

In [143]:



fp2 = pd.DataFrame({})
fp2['product2_']=product2_[0:39]
fp2['price2_']=price2_[0:39]
fp2['disc2_']=disc2_[0:39]

In [144]:
fp2

                                            product2_ price2_   disc2_
0               UV Protection Aviator Sunglasses (57)    ₹284  85% off
1              Polarized Retro Square Sunglasses (58)    ₹854  57% off
2                 UV Protection Round Sunglasses (54)    ₹329  86% off
3   UV Protection, Polarized, Mirrored Rectangular...    ₹198  88% off
4               UV Protection Aviator Sunglasses (54)    ₹237  85% off
5   Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹284  89% off
6               UV Protection Aviator Sunglasses (54)    ₹237  85% off
7          UV Protection Retro Square Sunglasses (58)    ₹474  68% off
8           UV Protection Rectangular Sunglasses (58)    ₹474  68% off
9                 UV Protection Round Sunglasses (54)    ₹213  80% off
10  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹509  36% off
11     Polarized, UV Protection Round Sunglasses (49)    ₹664  66% off
12      UV Protection Wayfarer Sunglasses (Free Size)    ₹758  15% off
13  UV Protection, Gradient Rectangular Sunglasses...    ₹404  79% off
14      UV Protection Wayfarer Sunglasses (Free Size)    ₹689  23% off
15  UV Protection, Gradient Wayfarer, Clubmaster S...    ₹525  65% off
16         UV Protection Round Sunglasses (Free Size)    ₹331  80% off
17  UV Protection, Polarized, Mirrored Rectangular...    ₹215  78% off
18  UV Protection Retro Square Sunglasses (Free Size)    ₹379  81% off
19          UV Protection Oval Sunglasses (Free Size)    ₹449  70% off
20  UV Protection Retro Square Sunglasses (Free Size)    ₹499  77% off
21  UV Protection, Polarized, Mirrored Wayfarer Su...    ₹265  73% off
22              UV Protection Aviator Sunglasses (54)    ₹237  85% off
23   Polarized, UV Protection Aviator Sunglasses (58)    ₹799  60% off
24    UV Protection, Mirrored Aviator Sunglasses (58)    ₹186  78% off
25       UV Protection Aviator Sunglasses (Free Size)    ₹546  31% off
26  UV Protection Aviator, Wayfarer Sunglasses (Fr...    ₹229  80% off
27         UV Protection Retro Square Sunglasses (88)    ₹569  71% off
28            UV Protection Butterfly Sunglasses (65)    ₹449  82% off
29                       Others Round Sunglasses (52)    ₹179  69% off
30  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹284  89% off
31  UV Protection, Gradient Over-sized Sunglasses ...    ₹664  66% off
32      UV Protection Wayfarer Sunglasses (Free Size)    ₹246  83% off
33                   Mirrored Aviator Sunglasses (55)    ₹379  74% off
34  UV Protection, Polarized, Mirrored Wayfarer Su...    ₹284  71% off
35             UV Protection Wayfarer Sunglasses (55)    ₹248  80% off
36  UV Protection, Gradient, Mirrored, Riding Glas...    ₹209  79% off
37  UV Protection, Gradient Round Sunglasses (Free...    ₹449  77% off
38                     Mirrored Round Sunglasses (53)    ₹355  85% off

In [147]:
df_append=fp1.append(fp2,ignore_index =True)

In [148]:
df_append

,brand_,price_,discount_,product2_,price2_,disc2_
0,"Polarized, UV Protection Round Sunglasses (53)",₹699,65% off,NaN,NaN,NaN
1,UV Protection Oval Sunglasses (Free Size),₹449,70% off,NaN,NaN,NaN
2,UV Protection Round Sunglasses (54),₹329,86% off,NaN,NaN,NaN
3,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off,NaN,NaN,NaN
4,UV Protection Aviator Sunglasses (54),₹237,85% off,NaN,NaN,NaN
...,...,...,...,...,...,...
73,NaN,NaN,NaN,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹284,71% off
74,NaN,NaN,NaN,UV Protection Wayfarer Sunglasses (55),₹248,80% off
75,NaN,NaN,NaN,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209,79% off
76,NaN,NaN,NaN,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
77,NaN,NaN,NaN,Mirrored Round Sunglasses (53),₹355,85% off

# question  7

In [195]:
driver = webdriver.Chrome("chromedriver.exe")

In [196]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [197]:
driver.get(url)

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException  #importing exceptions

In [205]:

for i in range(1,10):
    
    re=driver.find_element_by_xpath("//p[@class='_2-N8zT']")
    next_btn = driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [206]:
next_btn.click()

# question 2

# exceptional handling

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException  #importing exceptions

In [3]:
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
job_search = driver.find_element_by_class_name("sugInp")

In [6]:
job_search.send_keys("data scientist")

In [7]:
location = driver.find_element_by_id("qsb-location-sugg")

In [8]:
location.send_keys("banglore")

In [9]:
btn = driver.find_element_by_class_name("btn")

In [10]:
btn.click()

In [12]:
url = []
for i in driver.find_elements_by_class_name("title fw500 ellipsis"):
    url.append(i.get_attribute("href"))

In [13]:
url

[]